$header-color:#E5EFF1;
$main-color:#8D8D8D;
$font-color:#93A1A7;
$button-color-first:#29C2E1;
$button-color-second:#F79B38;

body{
	color:$font-color;
	font-family: 'Lato', sans-serif;
}

.header{
	height:50px;
	background-color:$header-color;
	p{	padding:15px;
		font-size: 12.5px;
		i{
			padding-right:9px;

		}
		float: right;
		&:first-child{
			float: left;
		}
		&:last-child{
			border-right: 1px solid #D9E3E5;
		}
	}
}

.navbar{
	background-color:#FFFFFF;
	color:$font-color;
	height:76px;
	margin:0;
	padding:0;
	img{
		float: left;
		transform: translate(-955%, 0px)
	}
	ul{
		float: right;
		padding-top:10px;
		padding-bottom:13px;
		margin-top: 5px;
		li:last-child{
			background-color:$button-color-first;
			border-radius:50px 55px;
			background-size:141px 38px;
			margin-top: 8px;
			&:hover{
			box-shadow:0px 0px 10px #888888;}
			a{
				line-height: 0.5;
				padding-right:25px;
				padding-left:25px;
				&:last-child{
					color: white;
				}
			}
		}
	}
}

.main{
	color:white;
	height:310px;
	background-color:$main-color;
	text-align: center;
	.about{
		h1{
			margin-left: -12%;
		}
	}
	.image
			{
				font-size: 30px;
				padding-left: 61px;
				padding-top:112px;
				span{
					padding-left:25px;
				}
			}
			&:last-child
				{
				font-size: 14px;
				// margin-left:-77px;
				}
	h1{
		font-size: 48px;
		padding-top:89px;
		// margin-left:-77px;
	}
}
.startup
	{
	height:656px auto;
	color:black;
	border-bottom:1px solid #DEE8EA;
	.col-md-6{
		padding-bottom:36px;
	}
	h1{
		&:last-child{
			color: white;
			font-size: 18px;
		}
		&:first-child{
			margin-top: 100px;
			font-size: 30px;
		}
	}
	h4{
		margin-bottom: 22px;
	}
	p{
		margin-bottom: 43px;
		font-size: 14px;
	}


.service{
	margin-top:100px;
	padding-top:85px;
	div{
		&:nth-child(2){
			margin-top: -81px;
		}
		&:nth-child(3){
			margin-top:-61px;
		}
		h3{
			display:block;
			text-size:30px;
			transform:translate(95px, -92px);
		}
	}
		p{
	display:block;
	transform:translate(96px, -93px);
		}
	}

}
.count{
	height:218px auto;
	color:black;
	img{
		margin-top: 76px;
	}
	h1{
		margin-top: 50px;
		font-size: 60px;
	}
	p{
		font-size:14px;
		width: 160px;
		margin-top: -30px;
		margin-bottom: 81px;
	}
}
.team{
	margin-top:-13px;
	height:682px auto;
	background-color:$header-color;
	color:black;
	padding-top:72px;
	.teamboxes{
		.teambox{
			margin-bottom: 98px;
			background-color:white;
			height: 398px ;
			&:hover{
				box-shadow:0px 0px 20px #888888;
			}
			p{
				color: $button-color-second;
				padding-left: 30px;
				margin: 0;
				margin-bottom: -17px;
			}
			h5{
				padding-left: 30px;
				padding-top:19px;
				margin: 0;
				margin-bottom: -17px;
			}
			img{
				padding-left: 30px;
			}
			div{
				h4{
					text-align: center;
					color:white;
					padding-top: 121px;
				}
				height: 276px;
				background-color:$font-color;
			}
		}
	}

}
.features{
	color:black;
	height:662px auto;
	border-bottom:1px solid #E5EEF0;
	padding-top:72px;
	.morefeatures{
		margin-top: 62px;
		margin-left: 40%;
		text-align: center;
		float: center;
		width: 200px;
		height: 38px;
		margin-bottom: 98px;
		p{
		text-align: center;
		font-size: 15px;
		background-color:$button-color-first;
		color: white;
		border-radius:50px 50px;
		padding: 10px 0px 10px 0px;
		text-decoration: none;
		&:hover{
		text-decoration: none;
		box-shadow:0px 0px 20px #888888;
		}
	}
}

}
.freeservice{
	height:316px auto;
	color:black;
	border-bottom:1px solid #E5EEF0;
	margin-top:72px;
	span{
		color:$button-color-second;
	}
	h1, h4{
		text-align: center;
	}
	a{
		color:white;
	}
	.button{
		height: 38px;
		float: center;
		margin-top: 33px;
		margin-bottom: 79px;
		p{
			padding:10px 20px;
			text-align: center;
			display: inline;
			&:hover{
				box-shadow:0px 0px 10px #888888;
			}
			&:first-child{
				padding:10px 40px;
			margin-left: 38%;
			border-radius:50px 50px;
			background-color:$button-color-second;
			color: white;
			text-align: center;
		}
			&:last-child{
			margin-left: 2%;
			border-radius:50px 50px;
			background-color:$button-color-first;
			color: white;
			text-align: center;
		}}
	}
}
.contact{
	.tricontactyellow{

		position: absolute;
		margin-top: 87px;
		z-index: -2;
	}
	input{
		padding:8px 60px 10px 0px;;
	}
	padding:0;
	border-bottom:1px solid #E5EEF0;
	position:relative;
	.col-md-2, .col-md-3
	{
		z-index: 20;
		margin-bottom: 85px;
		margin-top: 75px;
	}
	height:317px auto;
	h4{
		color: black;
	}
}
.footer{
	height:107px;
	text-align:center;
	font-size:14px;
	margin-top:12px;
	padding:0;
	position:relative;
	img{
		text-align: right;
		float: right;
		margin-top: -240px;
	}
}